* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
}

.logo-img {
  bottom: 15px;
  left: 15px;
  position: relative;
  width: 6vw;
}

.container-header {
  align-items: center;
  background-color: #0f3031;
  box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.445);
  display: flex;
  justify-content: space-between;
}

.space-img {
  position: relative;
  right: 1vw;
  top: 0.7vw;
  width: 200px;
  z-index: 0;
}

.icon-img {
  position: absolute;
  right: 9.2vw;
  top: 1.1vw;
  width: 1.8vw;
  z-index: 1;
}

.name-user {
  bottom: 1.4vw;
  left: 2vw;
  position: relative;
}

.nav-page {
  display: flex;
  justify-content: space-between;
}

.nav-page li {
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 10px 5px rgba(0, 0, 0, 0.109);
  font-size: 2vw;
  list-style: none;
  padding: 10px;
  text-align: center;
  transition: 600ms;
  width: 33.1vw;
}

.nav-page li:hover {
  background-color: #0f303163;
}

.nav-page li a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}
